{% extends 'base.html' %}
{% block content %}
<div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
    </div>
</div>
<div class="row tm-row tm-mb-40">
    <div class="col-12">
        <div class="mb-4">
            <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">About this site</h2>
            <p>
                本網站為學習用途,如內容有侵犯到版權請盡速與我們聯絡,我們將盡快處理。
            </p>
            <p>
                This website is for learning purposes.
                If the content infringes your copyright,please contact us,
                we will handle  it as soon as possible.
            </p>
        </div>
    </div>
</div>
<div class="row tm-row tm-mb-120">
    <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>
            </div>
            <h2 class="mb-3 tm-color-primary tm-post-title">Server</h2>
            <p class="mb-0 tm-line-height-short">
                This server is supported by heroku using flask framework.
            </p>
        </div>
    </div>
    <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fas fa-users-cog fa-4x tm-color-primary"></i>
            </div>
            <h2 class="mb-3 tm-color-primary tm-post-title">Teamer</h2>
            <p class="mb-0 tm-line-height-short">
                B10917019
            </p>
        </div>
    </div>
    <div class="col-lg-4 tm-about-col">
        <div class="tm-bg-gray tm-about-pad">
            <div class="text-center tm-mt-40 tm-mb-60">
                <i class="fab fa-creative-commons-sampling fa-4x tm-color-primary"></i>
            </div>
            <h2 class="mb-3 tm-color-primary tm-post-title">Website purpose</h2>
            <p class="mb-0 tm-line-height-short">
                To learn about bootstrap,jquery framework and improve our network design skills.
            </p>
        </div>
    </div>
</div>
{% endblock %}