{% extends 'base.html' %}
{% block content %}
<div class="row tm-row">
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{href[0]}}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="{{img[0]}}" alt="Image" class="img-fluid">
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[0]}}</h2>
        </a>
        <p class="tm-pt-30">
            {{content[0]}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Game . Events</span>
            <span class="tm-color-primary">{{time[0]}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>36 comments</span>
            <span>by {{author[0]}}</span>
        </div>
    </article>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{href[1]}}" class="effect-lily tm-post-link tm-pt-60">
            <div class=" tm-post-link-inner">
                <img src="{{img[1]}}" alt="Image" class="img-fluid">
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[1]}}</h2>
        </a>
        <p class="tm-pt-30">
            {{content[1]}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Creative . Design . Business</span>
            <span class="tm-color-primary">{{time[1]}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>48 comments</span>
            <span>by {{author[1]}}</span>
        </div>
    </article>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{href[2]}}" class="effect-lily tm-post-link tm-pt-20">
            <div class="tm-post-link-inner">
                <img src="{{img[2]}}" alt="Image" class="img-fluid">
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[2]}}</h2>
        </a>
        <p class="tm-pt-30">
            {{content[2]}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Music . Audio</span>
            <span class="tm-color-primary">{{time[2]}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>24 comments</span>
            <span>by {{author[2]}}</span>
        </div>
    </article>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{href[3]}}" class="effect-lily tm-post-link tm-pt-20">
            <div class="tm-post-link-inner">
                <img src="{{img[3]}}" alt="Image" class="img-fluid">
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[3]}}</h2>
        </a>
        <p class="tm-pt-30">
            {{content[3]}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Artworks . Design</span>
            <span class="tm-color-primary">{{time[3]}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>72 comments</span>
            <span>by {{author[3]}}</span>
        </div>
    </article>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{href[4]}}" class="effect-lily tm-post-link tm-pt-20">
            <div class="tm-post-link-inner">
                <img src="{{img[4]}}" alt="Image" class="img-fluid">
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[4]}}</h2>
        </a>
        <p class="tm-pt-30">
            {{content[4]}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Creative . Video . Audio</span>
            <span class="tm-color-primary">{{time[4]}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>84 comments</span>
            <span>by {{author[4]}}</span>
        </div>
    </article>
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{href[5]}}" class="effect-lily tm-post-link tm-pt-20">
            <div class="tm-post-link-inner">
                <img src="{{img[5]}}" alt="Image" class="img-fluid">
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[5]}}</h2>
        </a>
        <p class="tm-pt-30">
            {{content[5]}}
        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">Visual . Artworks</span>
            <span class="tm-color-primary">{{time[5]}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>96 comments</span>
            <span>by {{author[5]}}</span>
        </div>
    </article>
</div>
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        <a href="./home?p={{p-1}}" class="mb-2 tm-btn tm-btn-primary tm-prev-next {%if p==1%}disabled{%endif%} tm-mr-20">Prev</a>
        <a href="./home?p={{p+1}}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
    </div>
    <div class="tm-paging-wrapper">
        <span class="d-inline-block mr-3">Page</span>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                <li class="tm-paging-item active">
                    <a href="./home?p={{p}}" class="mb-2 tm-btn tm-paging-link">{{p}}</a>
                </li>
                <li class="tm-paging-item">
                    <a href="./home?p={{p+1}}" class="mb-2 tm-btn tm-paging-link">{{p+1}}</a>
                </li>
                <li class="tm-paging-item">
                    <a href="./home?p={{p+2}}" class="mb-2 tm-btn tm-paging-link">{{p+2}}</a>
                </li>
                <li class="tm-paging-item">
                    <a href="./home?p={{p+3}}" class="mb-2 tm-btn tm-paging-link">{{p+3}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}