{% extends 'base.html' %}
{% block content %}
{%if title|length%}
<div class="row tm-row">
{%for i in range(title|length)%}
<article class="col-12 col-md-6 tm-post">
    <hr class="tm-hr-primary">
    <a href="{{href[i]}}" class="effect-lily tm-post-link tm-pt-60">
        <div class=" tm-post-link-inner">
            <img src="{{img[i]}}" alt="Image" class="img-fluid">
        </div>
        <span class="position-absolute tm-new-badge">New</span>
        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{title[i]}}</h2>
    </a>
    <p class="tm-pt-30">
        {{content[i]}}
    </p>
    <div class="d-flex justify-content-between tm-pt-45">
        <span class="tm-color-primary">Creative . Design . Business</span>
        <span class="tm-color-primary">{{time[i]}}</span>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <span>48 comments</span>
        <span>by {{author[i]}}</span>
    </div>
</article>
{%endfor%}
</div>
{%else%}
<div>
    <p>result not found</p>
</div>
{%endif%}
{%endblock%}